**.csv
Data/
**.nohup
**.zip
*/models/
*multi_eval*
*temp.ipynb
**__
**.sh
*/*.out
**.jpg
**ensemble_plot*
Data/Yang_sim/state_dicts/*.png
**.png
**.out
**.err
*/data/
*results*
**.pt
**event
**pidfile.txt
exp_data/
